doctype html
html
  head
    style(type='text/css').
           body {
                background: url('!{imageURI}');
                background-size: cover;
                background-repeat: no-repeat; 
                height: 300px;
            }
  body #{imageURI}
